.title-block .title {
  background-color: brown;
  color: white;
  display: inline-block;
  padding: 30px 60px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title-block .subtitle {
  background-color: cadetblue;
  display: inline-block;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #00ff00;
  margin: 10px 0 60px;
}
